<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* Title of this template will be passed to the head fragment along with custom links and scripts */-->
<head>
    <title>Discipline history data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<div th:replace="~{fragments/header :: header}">Header</div>
<body>
<div class="container-xl">
    <table class="table table-striped table-responsive-xl">
        <thead>
        <tr>
            <th th:replace="fragments/sorting :: sorting('players/'+${player.id}+'/history','date','Date')"></th>
            <th th:replace="fragments/sorting :: sorting('players/'+${player.id}+'/history','reason','Reason')"></th>
            <th th:replace="fragments/sorting :: sorting('players/'+${player.id}+'/history','disciplinePoints','Discipline points')"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${history.empty}">
            <td colspan="4">No history found!</td>
        </tr>
        <tr th:each="rec : ${history}">
            <td th:text="${rec.date}"></td>
            <td th:text="${rec.reason}"></td>
            <td th:text="${rec.disciplinePoints}"></td>
            <td>
                <form th:action="@{/players/{id}/removeHistory/{histId}(id=${player.id},histId=${rec.id})}" method="post">
                    <button type="submit" class="btn btn-primary">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>