<div th:switch="${rules}" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 th:case="null">No rules yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Guild</th>
                <th>Reason</th>
                <th>DisciplinePoints</th>
                <th>Edit</th>
<!--                <th>Delete</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="rule : ${rules}">
                <td th:text="${rule.id}"></td>
                <td th:text="${rule.guild}"></td>
                <td th:text="${rule.reason}"></td>
                <td th:text="${rule.disciplinePoints}"></td>
                <td><a th:href="@{/api/rules/{id}(id=${rule.id})}">Edit</a></td>
<!--                <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addrule">Add a new rule </a></p>
</div>